/* Animations */
@import '_config.scss';

// Animate from:
#blocks.animateBegin .module {
	opacity: 0;
	bottom: -70px;
}

// ... animate to:
#blocks .module {
	color: #333;
	opacity: 1;
	position: relative;
	bottom: 0px;
	@include prefix-selector(transition, all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms);
}
