@import '_config.scss';

/* Common
================================================ */

body, p {
	font-family: Georgia, sans-serif;
	font-family: 1rem;
	line-height: 1.5;
	color: #777;
}

h1,
a {
	color: magenta;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster';	
}

h1 {
	font-size: 2rem;
}

h4 {
	font-size: 1.2rem;
	margin: 0;
	color: gold;
}

section {
	overflow: hidden;
}

/* Wrapper
================================================ */

#wrapper {
	@media (min-width: $mq-breakpoint-01) {		
		width: $mq-breakpoint-01;
		margin: 0 auto;
	}
}

/* Module
================================================ */

.module {
	padding: 0 10px;
	@include box-sizing;

	@media (min-width: $mq-breakpoint-01) {
		width: 33%;
		float: left;		
	}

	@media (max-width: $mq-breakpoint-01) {
		p img {
			min-width: 100%;
		}		
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

/* Blocks
================================================ */

#blocks {
	overflow: hidden;
}