.services > * {
	position:relative;
	opacity:1;
	bottom:0px;
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.services.animationBegin > * {
	opacity:0;
	bottom:50px;
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
}

.featured > * {
	position:relative;
	opacity:1;
	bottom:0;
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transition: rotate(0deg);
}

.featured.animationBegin > * {
	opacity:0;
	bottom:50px;
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transition: rotate(45deg);
}

